.btn-red {
  background-color: rgba(255, 0, 0, 0.376) !important;
  border: none !important;
  color: grey;
  border-radius: 180 !important;
  width: 25px;
  height: 25px;
  box-shadow: none;
}

.btn-red-selected {
  background-color: rgba(255, 0, 0, 0.753) !important;
  color: black;
  width: 35px;
  height: 35px;
  box-shadow: none !important;
}

.btn-orange {
  background-color: rgba(255, 174, 0, 0.363) !important;
  border: none !important;
  color: grey;
  border-radius: 180 !important;
  width: 25px;
  height: 25px;
}

.btn-orange-selected {
  background-color: rgba(255, 174, 0, 0.65) !important;
  color: black;
  width: 35px;
  height: 35px;
  box-shadow: none !important;
}

.btn-purple {
  background-color: rgba(0, 0, 255, 0.205) !important;
  border: none !important;
  color: grey;
  border-radius: 180 !important;
  width: 25px;
  height: 25px;
}

.btn-purple-selected {
  background-color: rgba(0, 0, 255, 0.534) !important;
  color: black;
  width: 35px;
  height: 35px;
  box-shadow: none !important;
}

.btn-orange:hover,
.btn-red:hover,
.btn-purple:hover {
  width: 35px;
  height: 35px;
}
