.task {
  background-color: white;
  min-height: 150px;
  /* min-width: 100%; */
  width: 600px;
  margin: 0.5rem 0.5rem 0.5rem 0;
  border-left: 3px solid rgba(4, 4, 255, 0.335);
}

.border-red {
  border-left: 3px solid red;
}

.border-orange {
  border-left: 3px solid orange;
}

.border-purple {
  border-left: 3px solid rgba(4, 4, 255, 0.335);
}
