.user-item,
.add-user {
  width: 75%;
  height: 50px;
  background-color: rgba(4, 4, 255, 0.198);
  color: white;
}

.user-item:first-child {
  border-radius: 4px 4px 0 0;
}

.user-item:last-child {
  border-radius: 0 0 4px 4px;
}

.user-item:hover {
  background-color: rgba(4, 4, 255, 0.322);
}

.selected-user-item {
  transition-duration: 0.5s;
  margin: 0 0 0 3em;
  border-radius: 4px 0 0 4px !important;
  width: 100%;
  height: 50px;
  background-color: rgb(249, 249, 249);
  color: black;
}
